a{
    background-color: white; color:blue;
}


.le{
    background-color: black ; color: red;
}
.chan{
    background-color: blue ; color: white;
}

#para3{
    background-color: brown; color: white;
}